.cabecalho {
    display: block;
    text-align: center;
    position: relative;
    padding: 15px;
}

.botaoperfil {
    display: block;
    justify-content: space-around;
    position: relative;
    align-items: baseline;

}
