.imagensRedondinhas {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    
}

.video {
    display: flex;
    position: relative;
    justify-content: space-around; 
}

